<div id="footers" class="d-flex w-100">
  <div class="aside flex-fill-1 ">
  </div>

  <div class="d-flex flex-fill-3 justify-content-between">
    <p class="title-header">practicaUI</p>
    <div class="d-flex">
      <i class="ms-5 bi bi-telephone-fill"></i>
      <span>+71834</span>
      <i class="ms-3 bi bi-envelope-fill"></i>
      <span>ilin-mi@avid.ru</span>
      <span class="footer-sm-title">© 2022 practicaUI. All rights reserved.</span>
    </div>
  </div>

  <div class="aside flex-fill-1 ">
  </div>
</div>
