/*любой текст спан*/
#footers span {
  font-weight: 400;
  font-size: 15px;
  margin: 14px 5px;
  color: white;
}
#footers i{
  font-weight: 400;
  font-size: 13px;
  margin: 14px 0;
  color: white;
}
#footers p {
  font-weight: 500;
  font-size: 20px;
  margin: 14px 5px;
}
.footer-sm-title{
  font-weight: 400 !important;
  font-size: 11px !important;
  margin: 14px 5px !important;
  color: #808080 !important;
}
